body {
    margin: 0;
    padding: 0;
}

button {
    margin: 16px auto 24px auto;
    padding: 8px 16px 8px 16px;
    font-size: 20px;
    display: block;
}

div.grid {
    border-style: solid;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

div.squares {
    border-style: solid;
    border-color: black;
}